<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
        laboriosam ratione quasi rem impedit ipsam qui amet eligendi quia
        deleniti ut quisquam vero explicabo quo, maiores earum soluta reiciendis
        excepturi. Officiis esse dolorum delectus ipsum tempore autem,
        consectetur quaerat debitis?
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
