<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog Stotka</h1></a>
            <p>A net Stotka</p>
            <ul>
                <li><a href="/">Blogs</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/blogs/create">Blogs</a></li>
            </ul>
        </div>
    </nav>
     <div class="blogs content">
        <h2>All blogs</h2>
     </div>
  </body>
</html>     